<div class="flex flex-col items-center w-full gap-3 p-4">
    <ng-container *ngIf="todos$$ | async as todos">
        <app-todo *ngFor="let todo of todos | keyvalue" class="w-full max-w-xl" [todo]="todo.value"
            (deleteTodoEvent)="handleDeleteTodoEvent($event)" (completeTodoEvent)="handleCompleteTodoEvent($event)"
            (errorEvent)="showRejectionMessage()" />
    </ng-container>

    <button pButton pRipple (click)="showForm()" icon="pi pi-plus" class="p-button-rounded"></button>

    <p-dialog header="Create todo" [(visible)]="isFormVisible" [modal]="true" [style]="{width: '50vw'}"
        [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-container *ngIf="addTodoLoader$$ | async as addTodoLoader">
            <app-todo-form (submitFormEvent)="addTodo($event)" [loaderState]="addTodoLoader"></app-todo-form>
        </ng-container>
    </p-dialog>
</div>

<p-toast></p-toast>